@media only screen and (max-width: 630px) {
	.btn {
		display:block !important;
	}
	.menu {
		display: none;
	}
	
	.menu-mobile {
		position: absolute;
		background-color: rgba(0,0,0,.4);
	    top: 60px;
	    left: 0;
	    right: 0;
	    border-top: 1px solid transparent;
	    box-shadow: inset 0 1px 0 rgba(255,255,255,.1);
	}
	
	.menu-mobile li {
		display: block;
		padding: 0 calc(6% - .3rem);
		line-height: 40px;
	}
	
	.projects-content ul li {
		width: 70% !important;
	}
	
	
}
@media only screen and (max-width: 320px) {
	.projects-content ul li {
		width: 290px;
	}
}
