html {
	font-size: 50px ;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

ul {
	list-style-type: none;
}

a, a:visited {
	cursor: pointer;
	color: white;
	text-decoration: none;
}

a:hover, a:active {
	color: rgb(0,158,227);
	text-decoration: none;
}

.padding {
	padding: 1.3rem 6%;
}

.common-hp h2 {
	font-size: .4rem;
}

.common-hp p {
	font-size: .3rem;
	margin-top: 15px;
	line-height: 25px;
}

.common-title h2 {
	font-size: .5rem;
	position: relative;
	padding-bottom: 30px;
}
.common-title h2:after {
	border-bottom: 1px solid #009ee3;
    content: "";
    display: block;
    left: 50%;
    bottom: 0;
    position: absolute;
    width: 2rem;
    transform: translateX(-50%);
}

.common-title p {
	font-size: .3rem;
	color: #818181;
	padding-top: 30px;
	line-height: 24px;
}
