.purpose {
	text-align: center;
	padding-top: 0;
}

.purpose-content li {
	display: inline-block;
	width: 47%;
	margin: 30px 5px 0 5px;
}

.purpose-content p, i {
	color: #818181;
}

.purpose-content span {
	border: 3px solid transparent;
    display: inline-block;
    height: 85px;
    width: 85px;
    line-height: 78px;
    -webkit-transform: rotate(47deg);
    -moz-transform: rotate(47deg);
    -ms-transform: rotate(47deg);
    -o-transform: rotate(47deg);
    transform: rotate(47deg);
    -webkit-transition: all 0.3s ease 0s;
    -moz-transition: all 0.3s ease 0s;
    -ms-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
}

.purpose-content span i {
	-webkit-transform: rotate(-47deg);
    -moz-transform: rotate(-47deg);
    -ms-transform: rotate(-47deg);
    -o-transform: rotate(-47deg);
    transform: rotate(-47deg);
}

.purpose-content li:hover span {
	margin-bottom: 30px;
	border-color: #009ee3;
	color: #009ee3;
}

.purpose-content li:hover i {
	color: #009ee3;
}

