.contact {
	text-align: center;
}

.contact-details {
	text-align: left;
	font-size: .3rem;
	margin-top: 30px;
}

.contact-details i {
	width: 15px;
}

.contact-details span {
	padding-left: 20px;
	line-height: .8rem;
}

.contact-details h3{
	padding-bottom: 15px;
	border-bottom: 1px solid #009ee3;
}

.code {
	margin-top: 10px;
}

.code span {
	display: inline-block;
	font-size: .3rem;
}

.code img {
	width: 2rem;
	height: auto;
}
